* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
   
}

#left{
    position: relative;
    color: white;
    height: 100%;
    width: 30%;
    background-color:  rgb(218, 11, 80);
}
#text{
    position: absolute;
    width: 90%;
    top: 20%;
    left: 10%;
}
#text h1{
    font-size: 45px;
    line-height: 1;
}
#text h1 span{
    font-weight: 300;
}
#text h3{
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}
#text p{
    font-size: 14px;
    font-weight: 100;
    margin-top: 15px;
    line-height: 1.5;
}
#text button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: white;
    border:none;
    border-radius: 10px;
    color: red;
}
#right{
    position: relative;
    height: 100%;
    width: 70%;
    background-color: rgba(173, 94, 94, 0.562);
}

#right>img{
    position: absolute;
    top: 50%;
    left:-2%;
    transform: translate(-40%, -50%) rotate(-30deg);
    height: 50%;
    width: 50%;
}

#center{
    position: absolute;
    top: 25%;
    left: 35%;
      
}

#center h1{
    font-size: 45px;
    font-weight: 800;
}
#center h1 span{
    font-weight: 200;
    color: rgb(179, 42, 42);

}
#center h2{
    font-weight: 300;
    margin-top: 5px;
    font-size: 25px;
    margin-bottom: 5px;
}
#center h2 span{
    font-weight: 800;  
}
#center p{
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 17px;
}

#btns{
    
    display: flex;
    gap: 20px;
    
}
#btns button{
    padding: 6px 4px;
}
#btns button:nth-child(1){
    background-color: transparent;
    border: 1px solid rgb(109, 42, 216);
    color: rgb(83, 32, 202);
    border-radius: 4px;
    cursor: pointer;
}
#btns button:nth-child(2){
    background-color: red;
    border-radius: 30%;
    color: black;
    cursor: pointer;
}
#sampletext{
    margin-top: 20px;
    font-size: 20px;
}
#samples{
    margin-top: 30px;
    gap: 5px;
    display: flex;
}
.sample{
    width: 100px;
    overflow: hidden;
    border-radius: 10px;
}

.sample img{
    width: 100px;
}
