/* for background colour*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
}
div{
    height: 100%;
    width: 100%;
    background-color: red;
} */



/* for background image */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
  background-image: url(https://images.unsplash.com/photo-1753454116069-a4fba9e75e4c?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover; 
}

/* day 6 overlapping  (both are combine) */
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
}

#overlay h1{
    position: absolute;
    left: 50%;
   top: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: "anurati";
    font-size: 90px;
    font-weight: 100;
    letter-spacing: 20px;
}

#line{
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 1px;
    background-color:white;
    ;
}

button{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 30px;
    color: black;
    background-color:transparent;
    border: 1px solid white;
    font-family: "anurati";
    letter-spacing: 10px;
    font-size: 15px;
}

button:hover{
    background-color: white;
    color: black;
    
}

/* https://images.unsplash.com/photo-1491933382434-500287f9b54b?q=80&w=464&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
/* https://images.unsplash.com/photo-1550029402-226115b7c579?q=80&w=465&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
