* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#box{
    height: 200px;
    width: 200px;
    background-color:blue;
}